html,
body {
  margin: 0;
  padding: 0;
  font-size: 0;
  background: rgb(254, 242, 0);
}

svg,
canvas {
  position: absolute;
}

svg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
