html,
body {
  margin: 0;
  padding: 0;
  font-size: 0;
  background: rgb(254, 242, 0);
}

svg,
canvas,
.instruct {
  position: absolute;
}

svg,
.instruct {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.instruct {
  top: 10%;
  max-width: 75%;
  max-height: 75%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.instructing .instruct {
  visibility: visible;
  opacity: 1;
}
